/* Customize navigation icons */
.swiper-button-next,
.swiper-button-prev {
  color: #2F2F2F;
  transition: color 0.3s ease;
  margin-left: 40px;
  margin-right: 40px;
  width: 10px;
  height: 10px; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #F8CB46;
}